<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abmobilesoft.ro.partyspam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >        
        <activity
            android:label="@string/partySpam"
            android:name=".StartPage"
            android:theme="@style/Theme.AndroidDevelopers" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name=".Views.CreateNewEvent.CreateEventActivity"/>
          <activity android:name=".Views.EventDetailsActivity"/>
    </application>

</manifest>